<nav class="navbar navbar-dark bg-dark sticky-top d-flex d-flex-row" style="padding: 12px">
  <button id="navbarToggler" aria-label="navbar-toggler" type="button" class="navbar-toggler mx-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="px-1 pt-1">
    <a class="navbar-brand text-light d-none d-sm-block" href="admin">CPE Project Management - Admin</a>
    <a class="navbar-brand text-light d-sm-none" href="admin">CPE Project (Admin)</a>
  </div>
  <div class="offcanvas offcanvas-start text-bg-dark" style="--bs-offcanvas-width: 300px" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header pl-2">
      <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Admin</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav" style="padding-left: 2rem;">
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
          <a class="nav-link" routerLink="add-advisor" routerLinkActive="active">จัดการรายชื่ออาจารย์ที่ปรึกษา</a>
        </li>
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
          <a class="nav-link" routerLink="add-student" routerLinkActive="active">จัดการรายชื่อนักศึกษา</a>
        </li>
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
          <a class="nav-link" routerLink="student-grading" routerLinkActive="active">จัดการผลการสอบ</a>
        </li>
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
          <a class="nav-link" routerLink="settings" routerLinkActive="active">ตั้งค่าระบบ</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dropdown mx-2">
    <button id="dropdownMenu" aria-label="dropdown-menu" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" (click)="logout()">ออกจากระบบ</a> </li>
    </ul>
  </div>
</nav>