<div class="card p-2">
  <div class="card-body p-2">
    <h3 class="card-title p-2">ยินดีต้อนรับ {{studentPid}} {{nameTitle?.title}}{{firstName}}  {{lastName}}</h3>
    <div class="row p-2">
      <div class="col-md-12">
        <a class="btn btn-primary my-1" role="button" routerLink="project-meeting" routerLinkActive="active">การเข้าพบอาจารย์ที่ปรึกษาโครงงาน</a>&nbsp;
        <a class="btn btn-primary my-1" role="button" routerLink="project-defense" routerLinkActive="active">ขอขึ้นสอบโครงงาน</a>&nbsp;
      </div>
    </div>
  </div>
</div>