<div class="card p-2">
  <div class="card-body p-2">
    <h3 class="card-title p-2">ยินดีต้อนรับ {{academicNameTitle?.title}} {{nameTitle?.title}}{{firstName}}  {{lastName}}</h3>
    <div class="row p-2">
      <div class="col-md-12">
        <a class="btn btn-primary my-1" role="button" routerLink="create-student-project" routerLinkActive="active">จัดการโครงงานของนักศึกษา</a>&nbsp;
        <a class="btn btn-primary my-1" role="button" routerLink="student-project-meeting" routerLinkActive="active">นักศึกษาพบ อ.ที่ปรึกษา</a>&nbsp;
        <a class="btn btn-primary my-1" role="button" routerLink="student-project-defense-request" routerLinkActive="active">รายการขอขึ้นสอบโครงงานของนักศึกษา</a>&nbsp;
      </div>
      <div class="col-md-12">
        <a class="btn btn-primary my-1" role="button" routerLink="show-student-project" routerLinkActive="active">โครงงานทั้งหมด</a>&nbsp;
        <a class="btn btn-primary my-1" role="button" routerLink="show-student-list" routerLinkActive="active">นักศึกษาในที่ปรึกษา</a>&nbsp;
      </div>
    </div>
  </div>
</div>